<div style="padding-left:80px;padding-right:80px;margin-bottom:20px">
    <span style="font-size:30px;font-weight:bold">Отзывы</span>
   
</div>
<div class="centered-container">
    <div style="width:560px;height:800px;overflow:hidden;position:relative;">
        <iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box" src="https://yandex.ru/maps-reviews-widget/1380234138?comments"></iframe>
        <a href="https://yandex.ru/maps/org/pokhoronny_dom_ladya/1380234138/" target="_blank" style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box">Похоронный дом Ладья на карте Казани — Яндекс Карты</a>
    </div>
</div>

    <style>
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    </style>